version: '3.8'
services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - mediapace-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    expose:
      - "8000"
    volumes:
      - ./backend:/app # on attribu le dossier backend au container sous le nom app
    environment:
      - DATABASE_URL=sqlite:///app/data/app.db # on lui dit que la db est dans le dossier data de l'app
    networks:
      - mediapace-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    expose:
      - "3000"
    volumes:
      - ./frontend:/app
    environment:
      - REACT_APP_API_URL=/api # chemin relatif, nginx redirige /api vers backend:8000
    depends_on:
      - backend
    networks:
      - mediapace-network

networks:
  mediapace-network:
    driver: bridge
